<html>

<head>
    <title>Login State</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h3>Risposta: <%= risposta %>
        </h3>
        <br>
        <a href="/pagina">Prova a tornare indietro</a>
    </div>
</body>

</html>