<html>
    <head>
        <title>Pagina</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h3>Pagina</h3>
            <p>Se mi vedi vuol dire che sei loggato!</p>
            <br>
            <a href="/logout">Logout</a>
        </div>
    </body>
</html>